
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>

    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>

  </connectionStrings>

<system.webServer>
    <handlers>

    </handlers>
  </system.webServer></configuration>
